<% if (locals.message) { %>
  <p id="message"><%= locals.message %></p>
<% } %>

<div class="header-main">
    <nav>
        <a href="/">Home</a>
    </nav>
    <div id="searchContainer">
        <input type="text" id="inputBookSearch" placeholder="Search book..." name="book_search">
        <div id="searchResults" class="invisible">
            <button onclick="toggle('#searchResults')">❌ Close search results</button>
            <ul id="searchResultsList">

            </ul>
        </div>
    </div>
</div>



