/* Minimal CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

body {
  background-color: #030712;
}

ul, ol {
  list-style: none;
}

p, h1, h2, h3, h4, a, li, label, legend {
  color: #B9BABD;
  text-align: center;
}

button, .button {
  padding: 5px;
}

.toggle_block {
  display: block;
}

.toggle_flex, .hide_on_desktop {
  display: flex;
}

.invisible, .hide_on_mobile {
  display: none;
}

textarea, input {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header, main {
  width: 100%;
  padding: 10px;
}

header {
  background-color:#0e121b;
  border-bottom: 1px solid   #323c4d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}



/* header css */

.header-main {
  min-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav {
  min-height: 30px;
  line-height: 30px;
  position: absolute;
  left: 20px;
}

#searchContainer {
  position: relative;
  width: 500px;
  display: flex;
  align-items: center;
}

#inputBookSearch {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border-radius: 10px;
}

#searchResults {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 100%;
  background-color: #101d37;
}

#searchResultsList {
  list-style-type: none;
  padding: 5px;
}

.search_result_list_item {
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  width: auto;
  padding: 10px;
  border-bottom: 1px solid #323c4d;
}

/* Utils styling */

.utils {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  z-index: 2;
  left:0;
  top: 75px;
}

.utils_toggle {
  background-color: #0e121b;
  border: 1px solid #323c4d;
  border-radius: 0 5px 5px 0;
  font-size: 1.2em;
  width: 40px;
}

.utils_content {
  width: 300px;
  background-color: #0e121b;
  border: 1px solid #323c4d;
  padding: 10px;
  flex-direction: column;
  gap: 20px;
}

.sort, .filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sort_list {
  display: flex;
  flex-direction: column;
}

.sort_list li {
  border-bottom: 1px solid #323c4d;
  padding: 5px;
}

.sort_list li:hover {
  background-color: #323c4d;
}

.filter input {
  padding: 5px;
}

.filter_options {
  padding: 5px;
}

.filter_section {
  padding: 10px;
  border-bottom: 1px solid #323c4d;
}

/* book styling  */
.book_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.book {
  width: 400px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
  gap: 5px;
  background-color: #0e121b;
  border: 1px solid #323c4d;
  border-radius: 10px;
  padding: 10px;
}

.book_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #323c4d;
  padding: 10px;
  position: relative
}

.book > .book_section:last-of-type,
.book > .book_section:first-of-type {
  border-bottom: none;
}

.display_section,
.edit_section,
.delete_section {
  width: 100%;
  position: relative;
}

.delete_section {
  align-items: end;
}


.book button {
  background-color: #0e121b;
  border-radius: 5px;
  border: 1px solid #323c4d;
}

.toggle_edit {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.display_section h4,
.display_section p,
.edit_section h4,
.edit_section p {
  width: 100%;
  text-align: center;
}

.delete_button_container {
  width: 100%;
  height: 20px;
  position: relative;
}

.delete_read {
  width: 30px;
  position: absolute;
  right: -10px;
}

.book_status_form {
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.status_radio {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.status_radio label {
  width: 150px;
}

.book .book_note fieldset {
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.book legend {
  margin: 0 0 5px 10px;
  font-size: .8em;
}

.book fieldset p {
  min-height: 50px;
  font-size: 1em;
  text-align: center;
  padding: 5px;
  line-height: 1em;
  border: 1px solid #323c4d;
}

.book textarea {
  min-height: 50px;
}

.book .save_note {
  position: absolute;
  bottom: 50px;
  right: 0px;
  z-index: 1;
}

.book img {
  width: 150px;
}

.book h2, h3, h4, p {
  margin: 0 0 10px 0;
}

.book h4 {
    display: inline-block;
    min-width: 250px;
}

/* message css */ 

#message {
  width: 200px;
  padding: 10px;
  text-align: center;
  margin-bottom: 0;
  position: fixed;
  bottom: 50px;
  left: 10px;
  z-index: 99;
  background-color: #101d37;
  border: 1px solid white;
  border-radius: 10px;
}

@keyframes slideDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100px); /* slide it further down */
  }
}

#message.slide-out {
  animation: slideDown 0.5s ease-out forwards;
}

@media (max-width: 768px){
  
}

@media (min-width: 769px){
  .hide_on_mobile {
    display: flex;
  }
  .hide_on_desktop {
    display: none;
  }
}
