/* Minimal CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

body {
  background-color: #030712;
}

p, h1, h2, h3, h4, a, label, legend {
  color: #B9BABD;
  text-align: center;
}

button, .button {
  background-color: #101d37;
  border: 1px solid #323c4d;
  width: 30px;
  height: 25px;
  border-radius: 25px;
}



.toggle {
  display: block;
}

.invisible {
  display: none;
}

textarea, input {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header, main {
  width: 100%;
  padding: 10px;
}

header {
  background-color:#0e121b;
  border-bottom: 1px solid   #323c4d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

/* message css */ 

#message {
  width: 200px;
  padding: 10px;
  text-align: center;
  margin-bottom: 0;
  position: fixed;
  bottom: 50px;
  left: 10px;
  z-index: 99;
  background-color: #101d37;
  border: 1px solid white;
  border-radius: 10px;
}

@keyframes slideDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100px); /* slide it further down */
  }
}

#message.slide-out {
  animation: slideDown 0.5s ease-out forwards;
}

/* header css */

.header-main {
  min-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav {
  min-height: 30px;
  line-height: 30px;
  position: absolute;
  left: 20px;
}

#searchContainer {
  position: relative;
  width: 500px;
  display: flex;
  align-items: center;
}

#inputBookSearch {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border-radius: 10px;
}

#searchResults {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 100%;
  background-color: #101d37;
}

#searchResultsList {
  list-style-type: none;
  padding: 5px;
}

.search_result_list_item {
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  width: auto;
  padding: 10px;
  border-bottom: 1px solid #323c4d;
}

/* book styling  */
.book_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.book {
  width: 400px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: #0e121b;
  border: 1px solid #323c4d;
  border-radius: 10px;
  padding: 20px 10px;
 
}

.book fieldset {
  border: 1px solid #323c4d;
}

.book legend {
  margin-left: 10px;
  font-size: .6em;
}

.book fieldset p {
  min-height: 50px;
  font-size: .8em;
  text-align: left;
  padding: 5px;
  line-height: .8em;
}

.book textarea {
  min-height: 50px;
}

.book img {
  width: 150px;
}
.book h2, h3, h4, p {
  margin: 0 0 10px 0;
}

.book h4 {
    display: inline-block;
    width: 250px;
}

.book p {
    width: 250px;
    margin: 0;
}
